@import"https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900";
@import"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,600;0,800;0,900&display=swap&text=0123456789";

/*-- scss:defaults --*/

$navbar-font-family: "Raleway";
$headings-font-family: "Raleway";
$font-family-base: "Raleway";

/*-- scss:rules --*/

/*-- Raleway numbers aren't aligned, so use Roboto for numbers only: --*/
/*-- https://stackoverflow.com/a/68779757/1456821 --*/

body {
  font-family: "Roboto", $font-family-base, sans-serif;
}
div.quarto-post .metadata {
  font-family: "Roboto", $font-family-base, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Roboto", $font-family-base, sans-serif;
  font-weight: 800;
}

/* Question border */
.form-group {
  border: 1px solid #ddd;  /* Light gray border */
  border-radius: 5px;      /* Rounded corners */
  padding: 1rem;           /* Inner spacing */
  background-color: #f9f9f9; /* Light background */
}

/* Margin of question label */
.form-group > label.control-label {
  margin-top: 0rem;
  margin-bottom: 0.3rem;
}

/* Margin of question options */
.radio {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* Center-align radio and checkbox button groups */
.radio-group-buttons,
.checkbox-group-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-group-container-sw {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Bold the active sidebar item */
.sidebar-item-container .active {
  font-weight: bold !important;
}

/* Styles for multiple choice buttons (gap: 0.5rem) */
.checkbox-group-buttons .btn-group-container-sw {
  gap: 0.5rem;
}
p {
  margin-bottom: 8px;
}

/* Sidebar */
/* Sidebar Width */
body.docked .sidebar.sidebar-navigation {
  width: 260px;
}
/* Content Area */
.page-columns .content {
  margin-left: 30px; /* Adjust as needed */
}
/* Section Headers */
.sidebar-item-section > .sidebar-item-container > .sidebar-item-text {
  font-weight: bold;
}

/* Grid Image Ratio fix */
.thumbnail-image.card-img {
  height: auto !important;
}