project:
  type: website
  output-dir: _site
  preview:
    port: 5678
    browser: true
  render:
    - "!chunks/"
    - "**/*.qmd"

website:
  title: surveydown.org
  image: images/logo.ico
  favicon: images/logo.ico
  site-url: https://www.surveydown.org
  repo-url: https://github.com/surveydown/website
  back-to-top-navigation: true
  open-graph:
    locale: es_ES
    site-name: https://surveydown.org
  twitter-card:
    creator: "@johnhelveston"
    site: "@johnhelveston"
    image: images/logo.png
    card-style: summary_large_image
    image-width: 150
    image-height: 150
  page-footer:
    background: dark
    center:
      - text: "Site made with <i class='bi bi-heart-fill'></i>, <i class='bi bi-git'></i></a>, and <a href='https://quarto.org/' target='_blank'><img src='https://quarto.org/favicon.png' width=12> quarto</a>"

  navbar:
    background: primary
    search: true
    left:
      - text: "About"
        href: about.qmd   
      - text: "Documentation"
        href: docs.qmd
      - text: "Templates"
        href: templates.qmd
      - text: "Blog"
        href: blog/index.qmd

    right:
      - text: "FAQ"
        href: faq.qmd
      - icon: github
        href: https://github.com/surveydown-dev/surveydown
      - icon: rss
        href: blog/index.xml

  sidebar:
    - title: "Documentation"
      style: "docked"
      background: light
      contents:
        - text: "Documentation"
          href: docs.qmd
        - text: "Features & Roadmap"
          href: docs/features-roadmap.qmd

        - section: "Survey Basics"
          contents:
            - text: "Getting Started"
              href: docs/getting-started.qmd
            - text: "Basic Components"
              href: docs/basic-components.qmd
            - text: "Page Navigation"
              href: docs/page-navigation.qmd
            - text: "Survey Settings"
              href: docs/survey-settings.qmd

        - section: "Question Development"
          contents:
            - text: "Defining Questions"
              href: docs/defining-questions.qmd
            - text: "Question Types"
              href: docs/question-types.qmd
            - text: "Question Formatting"
              href: docs/question-formatting.qmd
            - text: "Custom Questions"
              href: docs/custom-questions.qmd
        
        - section: "Interactivity"
          contents:
            - text: "Conditional Logic"
              href: docs/conditional-logic.qmd
            - text: "Reactivity"
              href: docs/reactivity.qmd
            - text: "Randomization"
              href: docs/randomization.qmd
            - text: "External Redirect"
              href: docs/external-redirect.qmd
        
        - section: "Data Management"
          contents:
            - text: "Storing Data"
              href: docs/storing-data.qmd
            - text: "Fetching Data"
              href: docs/fetching-data.qmd
        
        - section: "Deployment & Operations"
          contents:
            - text: "Deployment"
              href: docs/deployment.qmd
            - text: "Performance"
              href: docs/performance.qmd
            - text: "Security"
              href: docs/security.qmd
        
        - section: "Other"
          contents:
            - text: "sdstudio package"
              href: docs/sdstudio.qmd
            - text: "Architecture"
              href: docs/architecture.qmd
            - text: "External Resources"
              href: docs/external-resources.qmd
            - text: "Tips"
              href: docs/tips.qmd

    - title: "Templates"
      style: "docked"
      background: light
      contents:
        - text: "Templates"
          href: templates.qmd

        - section: "Basic"
          contents:
            - text: "Default Template"
              href: templates/default.qmd
            - text: "Question Types"
              href: templates/question_types.qmd
            - text: "Questions Defined with YAML"
              href: templates/questions_yml.qmd

        - section: "Conditions"
          contents:
            - text: "Conditional Showing"
              href: templates/conditional_showing.qmd
            - text: "Conditional Skipping"
              href: templates/conditional_skipping.qmd
            - text: "Conditional Stopping"
              href: templates/conditional_stopping.qmd

        - section: "Randomization"
          contents:
            - text: "Random Options"
              href: templates/random_options.qmd
            - text: "Random Options Predefined"
              href: templates/random_options_predefined.qmd

        - section: "Reactivity"
          contents:
            - text: "Reactive Questions"
              href: templates/reactive_questions.qmd
            - text: "Reactive drilldown"
              href: templates/reactive_drilldown.qmd
            - text: "External Redirect"
              href: templates/external_redirect.qmd
            - text: "Live Polling"
              href: templates/live_polling.qmd

        - section: "Conjoint"
          contents:
            - text: "Conjoint Buttons"
              href: templates/conjoint_buttons.qmd
            - text: "Conjoint Tables"
              href: templates/conjoint_tables.qmd

        - section: "Custom"
          contents:
            - text: "Custom Leaflet Map"
              href: templates/custom_leaflet_map.qmd
            - text: "Custom Plotly Chart"
              href: templates/custom_plotly_chart.qmd

format:
  html:
    theme:
      light: [flatly, css/theme.scss]
      dark: [darkly, css/theme.scss]
    anchor-sections: true
    smooth-scroll: true
    link-external-newwindow: true
    link-external-icon: false
    link-external-filter: '^(?:http:|https:)\/\/(?:www\.)?surveydown\.org'

execute:
  echo: true
  eval: false
  warning: false
  message: false
code-link: true
knitr:
  opts_chunk:
    comment: "#>"
fig-retina: 3
toc-location: right
toc: true
